*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;

} 

.header-bg{
    position: relative;
    background:  rgba(37, 25, 19, 0.91);
    background-size: cover;
    width: 100%;



}


.contact-section {
    display: flex;
    justify-content: center;
    padding:40px 20px;
    background: #f5f5f5;
    gap: 2rem;
    height: 880px;
    padding-top: 100px;

    


  }

  .contact-info-container{

    width: 50%;

  }

  .contact-content{
  
    position: relative;
    top: 5%;
  }
  
  
  .contact-info {
 
    padding: 20px;
     
    width: fit-content;
    color: #AF6343;

   
 
  }
  
  .contact-info h3 {
    margin-bottom: 15px;
 
  }
  
  .contact-info p {
    margin-bottom: 10px;
    
  }
  
  .contact-number {
    font-weight: bold;
    
  }
  
  .contact-form {

    width: 80%;

  }

  .contact-form form{

    gap: 20px;
    background: linear-gradient(rgba(241, 235, 235, 0.2), rgba(250, 250, 250, 0.8)), url('../assets/img/contact-form-pic.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;

 
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    color: #BA6E4E;
    font-size: 30px;
    font-weight: 600;


  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form form label {
    margin-bottom: 5px;
  }
  
  .contact-form form input,
  .contact-form form textarea {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    opacity: 0.6;
    border: 1px solid rgba(186, 110, 78, 0.53);


    
  }

  .contact-form form textarea{
    height: 300px;
    resize: vertical;
  }


  
  .contact-form form button {
    width: 30%;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0.9;
    background: rgba(186, 110, 78, 0.82);
    white-space: nowrap;
  }
  
  .contact-form form button:hover {
    background-color: #555;
  }
  
  /* Adjustments for responsiveness */
  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
    }
  
    .contact-info,
    .contact-form {
      width: 100%;
    }
  }




  