*{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
} 
.hero-section{
    position: relative;
    background: url(/assets/img/index-header.png) no-repeat center center;
    background-size: cover;
        
}

.hero-content{
    border: 3px solid red;

}

.hero-content h1{
    color: white;
    justify-content: center;
    text-align: center;
}


